/* Common styling for the PoeWiki skin */

@import 'variables.less';

// Page layout

// Box with the whole content
#mw-wrapper {
	max-width: @width;
	margin: 0 auto;
	position: relative;
	padding: 1em;
	margin: 1em;
}

/* From Monobook */
#p-logo {
	position: absolute;
	z-index: 3;
	overflow: visible;

	a,
	a:hover {
		display: block;
		background-repeat: no-repeat;
		text-decoration: none;
	}
}


//#p-logo {
//	text-align: center;
//	width: 10em;
//	float: right;
//
//	// Make logo image visible
//	// The class sets the background image from $wgLogo, but we still need to give it a size in order to show up
//	a.mw-wiki-logo {
//		display: block;
//		content: '';
//		width: 10em;
//		height: 10em;
//		background-repeat: no-repeat;
//		background-position: 50% 50%;
//	}
//}

.mw-body {
	position: relative;
	word-wrap: break-word;
	margin-left: 14em; //width for left menu
}

// Some content stuff
.firstHeading {
	margin-top: 0;
}

.mw-indicators {
	float: right;
	margin: 1.5em 0 0 1em;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
}

.center,
.center * {
	margin: auto;
	text-align: center;
}

// Splatter footer at the bottom
.mw-footer {
	margin: 1em 0;

	ul {
		list-style-type: none;
		margin: 0;
	}

	li {
		padding-right: 1em;
		display: inline-block;
	}
}


#mw-navigation {
	margin: 1em 0;
}

// Footer
.mw-footer {
	clear: both;
	border-top: 1px solid @border;

	// stylelint-disable-next-line no-descending-specificity
	ul {
		margin-top: 1em;
	}
}

#footer-icons {
	float: right;
	margin: 0 0 1em 1em;
}

// hidden stuff
//#page-tools h3,
//#p-search h3,
//#p-personal h3 {
//	.hidden;
//}

// All section headers should be in bold
h1, h2, h3, h4, h5, h6 {
         font-weight: bold;
}

h1 { font-size: 135% } 
h1.firstHeading { font-size: 200%; color: #479; border-bottom: 3px solid #479 }
h1.firstHeading.ns-user { font-size: 200%; color: #a33; border-bottom: 3px solid #a33 }
h1.pagetitle_notartpage { font-size: 200%; color: #386; border-bottom: 3px solid #386 }
h2 { font-size: 120%;   }
h3, h4, h5, h6 { margin-bottom: 0;}
h3 { font-size: 110%; }
h4 { font-size: 100%; }
h5 { font-size: 97%; }
h6 { font-size: 95%; }
a { text-decoration: none }
a:hover { text-decoration: underline }
a.interwiki, a.external, a.extiw { color: #3366BB; }
a.printable { text-decoration: underline; }
a.stub { color: #366 }
a:visited { color: #5A3696; }
